# Server
fastapi==0.115.12
uvicorn==0.38.0
# Environment
python-dotenv==1.1.0
pydantic_settings==2.12.0
truststore==0.10.4
# Crawlers
httpx[http2]==0.28.1
beautifulsoup4==4.14.2
xmltodict==0.14.2
pandas==2.2.3
lxml==6.0.2
# Search
jieba==0.42.1
python-Levenshtein==0.27.3
thefuzz==0.22.1
# MCP
fastmcp==2.13.1