# Logging
loguru==0.7.2
# Server
fastapi==0.109.0
uvicorn==0.25.0
# Environment
python-dotenv==1.0.0
cachetools==5.3.2
pyopenssl==23.3.0
# Crawlers
requests==2.31.0
beautifulsoup4==4.12.2
xmltodict==0.13.0
pandas==2.1.4
lxml==4.9.4
# Search
jieba==0.42.1
python-Levenshtein==0.23.0
thefuzz==0.20.0