# Server
fastapi==0.115.8
uvicorn==0.34.0
# Environment
python-dotenv==1.0.1
cachetools==5.5.2
pyopenssl==25.0.0
# Crawlers
httpx[http2]==0.28.1
requests==2.32.3
beautifulsoup4==4.13.3
xmltodict==0.14.2
pandas==2.2.3
lxml==5.3.1
# Search
jieba==0.42.1
python-Levenshtein==0.26.1
thefuzz==0.22.1