name: Routine Testing

on:
  schedule:
    - cron: "0 12 * * 1,3,5"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-tests.txt
      - name: Test
        run: python -m pytest -n auto tests --cov=src --cov=tests --cov-report=xml --cov-report=html:coverage --cov-fail-under=85
      - name: Store coverage files
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: |
            coverage
            coverage.xml
