# test workflow from https://github.com/tiangolo/fastapi/blob/master/.github/workflows/test.yml
name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-tests.txt
      - name: Test
        run: python -m pytest -n auto tests -W ignore::DeprecationWarning --cov=src --cov=tests --cov-report=xml --cov-report=html:coverage --cov-fail-under=85
      - name: Store coverage files
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: |
            coverage
            coverage.xml
